build/
.DS_Store
.vscode/
coverage/


# Dependency directories
node_modules/
jspm_packages/
npm-debug.log

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo
.vercel

# Optional npm cache directory
.npm

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local
.env


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

.vercel
